h2
{
    color: white;
    text-align: center;
}
body{
    width: 1349px;
    font-family: inherit;
    margin: 0;
    color: whitesmoke;
}
.pos{
    display: inline-block;
}
.but
{
    padding-left: 34%;
}
.btn{
    width: 100px;
    background-color: gold;
}
select{
    color: whitesmoke;
    width: 11.29em;
}
input{
    width: 96%;
}
input,select{
    border-width: 1px;
    border-color: rgb(12, 10, 10);
    background-color: rgb(156, 81, 206);
    height: 25px;
}
textarea{
    width: 96%;
    border-color: rgb(12, 10, 10);
    background-color: rgb(156, 81, 206);
}
label{

    padding: 2px;
}
div{
    padding: 1px;
}
.main{
    font-size: 1.60em;
    width: 24%;
    padding: 0% 38%

}
.logo
{
    width:20%;
    padding: 2% 0% 0% 15%;

}
.menu
{
    width: 31%;
    color: goldenrod;
    padding: 2% 5% 0% 0%;
    float: right;
}
a{
    color: gold;
    text-decoration: none;
    padding-left: 18%;
}
.footl1{
    background: black;
    padding-left:15%;
}
.footl
{
    padding-top: 2%;
    width: 3%;
    height: 10%;
    padding-bottom: 2%;

}
.footr
{
    padding-top: 2%;
    width: 15%;
    float: right;
    padding-right: 17%;
}
.main:target{
    display: block;
}
.home{
    display: none;
}
.home:target
{
    display: block;
}
.eng{
    padding: 0% 13.6% 0% 15.5%;
    display: block;
}
.checked {
    color: orange;
}
.tam
{
    display: block;
}
.engmo{
    
    width: 23.2%;
    line-height: 35%;
    float:left;
    margin: 0.15%;
}
 .clear {
     clear: left;
     display: inline-block;
 }
.engmov1 .engmo{
    padding-left: 12%;
}
.yr{
    font-size: 0.89em;
}
.mgg
{
    width:86%;
}